.floatingImg{
    justify-content: space-around;
    display: flex;
    background: white;
    box-shadow: var(--boxShadow);
    border-radius: 17px;
    align-items: center;
}
.floatingImg>img{
    transform: scale(0.4);
}
.floatingImg>span{
    font-family: sans-serif;
    font-size: 16px;
    
}