.Intro{
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}
.leftIntro{
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}
.introName{
    display: flex;
    flex-direction: column;
}
.introName>:nth-child(1){
    color: var(--black);
    font-size: 4rem;
    font-weight: bold;
}
.introName>:nth-child(2){
    color: var(--orange);
    font-size: 3rem;
    font-weight: bold;
}
.introName>:nth-child(3){
    color: var(--gray);
    font-size: 14px;
    margin-top: 15px;
    font-weight: 100;
}
.btn{
    width: 6rem;
    height: 2rem;
    border: none;
    border-radius: 34px;
    color: white;
    font-size: 16px;
    padding: 10px 25px 10px 25px;
    background: linear-gradient(180deg,#35e46c 26.71%,#08f14a 96.36%);
    box-shadow: 0px 19px 60px 3px rgba(53, 174, 238, 0.42);
}
.introIcons{
    margin-top: 3rem;
    display: flex;
    gap: 0;
}
/* * is to select all elements */
.introIcons>*{
    transform: scale(0.5);
}
.introIcons>*:hover{
    transform: scale(0.6);
}
.btn:hover{
    background: rgb(113, 113, 238);
    cursor: pointer;
    color: var(--purple);
    border: 1px solid var(--purple);
}
.rightIntro{
    flex: 1;
    position: relative;
}
.rightIntro>*{
    position: absolute;
    z-index: 1;
}
.rightIntro>:nth-child(1){
    transform: scale(0.69);
    left: -15%;
    top: -9%;
}
.rightIntro>:nth-child(2){
    top: -4.6rem;
    transform: scale(0.67);
    left: -3rem;
}
.rightIntro>:nth-child(3){
    transform: scale(1.4);
    left: 28%;
}